# Ignore everything
*

# But don't ignore these files
!index.html
!prediction.html
!style.css
!manifold.html
!transrights.gif
!home.gif
!bookmarks.html
!manifold-microblog.html
!prediction.gif
!library.GIF
!bookmarks.gif
!library.html
!fund.html
!JHQ.gif
!door1.gif
!door2.gif
!home.html

!.gitignore