# Ignore everything
*

# But don't ignore these files
!index.html
!about.html
!template.html
!prediction.html
!epic-sci-fi.html
!style.css
!manifold.html
!emacs.gif
!transrights.gif
!banporn.gif

# Also don't ignore .gitignore itself
!.gitignore