# Ignore everything
*

# But don't ignore these files
!questions-for-asi.html
!cogsec.html
!mid2026.html
!index.html
!about.html
!template.html
!prediction.html
!style.css
!manifold.html
!emacs.gif
!transrights.gif
!banporn.gif
!clickhere.gif
!brickcat.jpg
!home.gif
!bookmarks.html
!manifold-microblog.html

!.gitignore