/* Simple black background with lime green text */
body {
    background-color: black;
    color: LimeGreen;
    max-width: 600px;
    margin: 0 auto;
}

a {
    color: LimeGreen;
}

blockquote {
    border-left: 4px solid LimeGreen;
    padding-left: 12px;           
    margin: 1em 0;                
  }
